html,body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,pre,button,input,textarea,th,td{ margin:0; padding:0; }
html,body { height:100%; font-size: 12px;font-family:arial,helvetica,sanserif;background:#fff;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
h2{padding-bottom:10px;}
ul,ol,li{list-style-type:none; overflow: hidden;_zoom:1;}
img{ border: 0; vertical-align: top;}
em{ font-style: normal; color: #f00; }
table {border-collapse:collapse;border-spacing:0;}
a:link {color: #333; text-decoration:none;}
a:visited {color: #333;text-decoration:none;}
a:hover {color: #333; text-decoration: underline; }
a:active {color: #333;text-decoration:none;}
a{outline:none;}
img,a img{ border: 0; vertical-align: middle; }
input,select{ vertical-align: middle; margin: 0;}
input:focus{outline:0px solid #6FA1D9;}
textarea:focus{outline:0px solid #6FA1D9;}
em{ font-style: normal;  color: #07c; }
select{height:25px;line-height:25px;}
textarea{border:1px solid #dddddd;}
.clr{clear:both;}
.txt{height:30px;line-height:30px;background:#fff;border:1px solid #dddddd;width:200px;text-indent:5px;}
.readonly{height:30px;line-height:30px;background:none;border:none;width:200px;text-indent:5px;}
a.btn{ 
   color:#fff;
   display: inline-block;
   padding:0px 5px;
   height:25px;
   line-height:25px;
   margin-right: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  -moz-box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  box-shadow: 0 0px 1px rgba(0,0,0,0.4);
  background: #8a240d;
  text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
a.btn:hover{
  background: #8a240d; 
  text-decoration:none;
}

.header{background:#fff;position:relative;height:40px;border-bottom: 2px solid #33B5E5;}
.top{position:relative;width:960px;margin-left:-480px;left:50%;height: 40px;line-height: 40px;}
.logo{font-weight: bold;position:absolute;height:40px;text-indent:30px;line-height:40px;top:0px;left:0px;background:url(../images/logo.png) left center no-repeat;width:300px;}
.top .nav{position:absolute;bottom:0px;right:0px;}
.top .nav a{
	display:block;text-decoration:none;
	line-height:30px;float:left;
	margin-left:1px;
	padding:0px 15px;
	border-bottom: 4px solid #fff;
  font-weight: bold;
}
.top .nav a:hover{color:#000;border-bottom: 4px solid #33B5E5;}
.top .nav a.selected{border-bottom: 4px solid #33B5E5;color:#33b5e5;}
.footer{position:relative;height:60px;line-height: 60px;}
.bottom{position:relative;width:960px;margin-left:-480px;left:50%;}
.main{ position:relative;left: 50%;width:960px;margin-left: -480px;}
.content{ 
	position:relative;padding: 30px 0px;
}

.content .left{
	float: left;
	width:150px;
}


.left ul li{line-height: 30px;}
.left ul li a {
	display: block;background: #ffffff;
	text-decoration: none;text-indent: 10px;
  margin-bottom: 1px;
}
.left ul li a:hover{background: #33b5e5;color:#fff;}
.left ul li a.selected{background: #33b5e5;color:#fff;}
.right{float:left;width:790px;margin-left: 20px;}
.right .toolbar{
  height:30px;
  line-height: 30px;
  margin-bottom: 10px;
}

table{border-collapse:collapse; width: 100%;}
th{white-space:nowrap;cursor:pointer; background: #fff; border: 1px solid #f4f4f4;font-weight:normal; color: #33b5e5; text-align: left;}
td{border: 1px solid #f4f4f4; background: #fff;}
th,td{line-height:30px;padding: 2px 5px;}
th{border-bottom: 2px solid #eee;}
table .oddrow td{background:#ffffff;}
table .evenrow td{background:#f4f4f4;}
table .header{height: 28px;line-height: 28px;border-bottom: 2px solid #eee;}
table.tablesorter thead tr .header {
  background: url(../images/sortbg.gif) right center no-repeat;
}
table.tablesorter thead tr .headerSortUp {
  background: url(../images/asc.gif) right center no-repeat;
}
table.tablesorter thead tr .headerSortDown {
  background: url(../images/desc.gif) right center no-repeat;
}

.table{border-collapse:collapse; width: 100%;}
.table th{white-space:nowrap;cursor:pointer; background: #fff; border: 1px solid #fff;font-weight:normal; color: #33b5e5; text-align: left;}
.table td{border: 1px solid #fff; background: #fff;}
.table th,.table td{line-height:30px;padding: 2px 5px;}
.table .oddrow td{background:#ffffff;}
.table .evenrow td{background:#f4f4f4;}
.table .header{height: 28px;line-height: 28px;border-bottom: 2px solid #eee;}

.bread{background:#f4f4f4;line-height: 30px;text-indent: 10px;margin-bottom: 10px;}
