div(class='bread') 类型设置
table(class='table',id='edit_type_form')
  tr
    td 类型名称
    td 
      input(id='id',type='hidden',value=types[0].id)
      input(id='type_name',type='text',class='txt',value=types[0].type_name)
  tr
    td
    td
      button(class='btn',onclick='edit_type();') 保存变更 
      &nbsp;&nbsp;&nbsp;
      button(class='btn',onclick='hide_edit();') 取消     

script(type='text/javascript')    
    function edit_type(){
      var id = $('#id','#edit_type_form').val();
      var type_name = $('#type_name','#edit_type_form').val();

      loading();
      $.post('/applications/edit_type','smt=true&id='+id+"&type_name="+type_name,function(data){
          hideLoading();
          if(data.indexOf("success")!=-1){
            noty({
              timeout: 1000,force: true, text: '操作成功!', type: 'success',
              onClose:function(){
                location.reload();
              }
            });
          }else{
            noty({timeout: 1000,force: true, text: '操作失败!', type: 'error'});
          }
      },"html");
    } 

    function hide_edit(){
          $.sheetbox.close('right');
    } 
