div(class="left")
    ul
      li 
        a(href="/applications/") 应用管理
      li 
        a(href="/applications/types") 应用类型  
      li 
        a(href="/applications/versions") 版本发布  
      li 
        a(href="/applications/feedbacks") 用户反馈  
        