div(class="content")
  include ./left.jade  
          
  div(class="right")
    div(class="toolbar")
      button(onclick="type_add();",class="btn") 添加类型
    table(id='dataTable',class="tablesorter")
      thead
        tr
          th 类型名称
          th(width='88')
      tbody
        -if(types && types.length > 0)
          -for (var i=0;i< types.length ;i++)
           tr
            td #{types[i].type_name}
            td 
              button(class="btn",onclick='type_edit(#{types[i].id});') 设置   
              &nbsp;
              button(class="btn",onclick='del_type(#{types[i].id});') 删除 
        else
          tr
            td(colspan=2) 暂无数据

  div(class="clr")        

script(type='text/javascript')
   $(function(){
     $($("a",".nav")[2]).addClass('selected');
     $($("a",".left")[1]).addClass('selected'); 
   });
   $("#dataTable").tablesorter({exclude:[1]});

   function del_type(id){
      noty({
        layout:'top',
        modal:true,
        text: "确定要执行删除操作?", 
        buttons: [
          {type: 'btn', text: '删除', click: function($noty) {
                //
                loading();
                $.post("/applications/del_type","id="+id,function(data){
                    hideLoading();
                    $noty.close();
                    if(data.indexOf("success")!=-1){
                      noty({
                        timeout: 1000,force: true, text: '操作成功!', type: 'success',
                        onClose:function(){
                          location.reload();
                        }
                      });
                    }else{
                      noty({timeout: 1000,force: true, text: '操作失败!', type: 'error'});
                    }
                });
            }
          },
          {type: 'btn', text: '取消', click: function($noty) {
              $noty.close();
            }
          }
          ],
        closable: false,
        timeout: false,
        type:'error'
      });
   }
   
   function type_edit(id){
      loading();
      $.sheetbox('/applications/edit_type','id='+id,{layout:'right',
        onShow:function(){
          hideLoading();
        }
      });
   } 

   function type_add(){
      loading();

      $.sheetbox('/applications/add_type','',{layout:'right',
        onShow:function(){
          hideLoading();
        }
      });
   } 

