<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="/image/logo.png" style='vertical-align:-3px;'/>&nbsp;icecream</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="/">Home</a>
              </li>
              <li>
                <a href="/get-started">Get started</a>
              </li>
              <li>
                <a href="http://github.com/zhiyu/icecream" target="_blank" >Github</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>