 <div class="g-banner" style="border:none">
	<div class="logo">
	  <a class="img" href="/">Icecream</a>
	</div>

	<div class="menu">
	      <div class="navbar-inner navbar">
	          <ul class="nav" role="navigation">
	            <li>
	              <a href="/">Home</a>
	            </li>
	            <li>
	              <a href="/tutorial">Get started</a>
	            </li>
	            <li>
	              <a href="/api">API</a>
	            </li>
	            <li>
	              <a target="_blank" href="https://github.com/zhiyu/icecream">GitHub project</a>
	            </li>
	          </ul>
	      </div>
	</div>          

</div>

