<html>
    <head>
        <meta http-equiv="Content-Type",content="text/html; charset=utf-8">
        <title>icecream</title>
    </head>    
    <body>
        <% include header %>
        <div class="main">
            <%-body%>   
        </div>     
        <% include footer %> 
    </body>
</html>