
<h2>About</h2>

<p><a href="http://github.com/zhiyu/icecream">Icecream</a> is a rapid web framework based on <a href="http://nodejs.org">NodeJS</a>. It was designed with a very small footprint for those who need a simple, elegant and pragmatic toolkit to build high-performing, full-featured web applications.</p>

<p>the source code is hosted on <a href="http://github.com/zhiyu/icecream">github.com</a> and licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.</p>

<p>any question about <a href="http://github.com/zhiyu/icecream">icecream</a>, please feel free to contact <a href="mailto:zhengzhiyu@yeah.net">zhengzhiyu@yeah.net</a></p>

<h2>How to use</h2>

<h4>install nodejs</h4>

<ul>
<li>download and install nodejs for your platform from <a href="http://nodejs.org/download/">http://nodejs.org/download/</a>. </li>
</ul>

<h4>create your application</h4>

<ul>
<li><p>open a shell prompt and type the following command</p>

<pre><code> mkdir myApp
 cd myApp
</code></pre></li>
<li><p>create application folders</p>

<pre><code> mkdir app
 mkdir app/controllers
 mkdir app/views
 mkdir app/views/layout
 mkdir app/views/page
</code></pre></li>
</ul>

<h4>add icecream to the application</h4>

<ul>
<li><p>add icecream module to your working directory</p>

<pre><code> cd myApp/app
 npm install icecream
</code></pre></li>
</ul>

<h4>add files to the application</h4>

<ul>
<li><p>create the main file <em><strong>start.js</strong></em> in directory &#39;myApp/&#39; </p>

<pre><code> var icecream = require(&#39;icecream&#39;);
 icecream.createServer({
    appDir:__dirname +&#39;/app&#39;
 });     
 icecream.listen(3000);
</code></pre></li>
<li><p>create controller file <em><strong>page.js</strong></em> in directory &#39;myApp/app/controllers/&#39;.</p>

<pre><code> action(&#39;index&#39;, function(){
     var data = {
         name: &#39;icecream&#39;,
         introduction: &#39;Icecream is a rapid web framework based on NodeJS. It was designed with a very small footprint for those who need a simple, elegant and pragmatic toolkit to build high-performing, full-featured web applications.&#39;
     }
     render(&#39;index&#39;, data);
 })
</code></pre></li>
<li><p>create layout file <em><strong>layout.ejs</strong></em> in directory &#39;myApp/app/views/layout/&#39;.</p>

<pre><code> &lt;html&gt;
    &lt;head&gt;
        &lt;meta http-equiv=&quot;Content-Type&quot;,content=&quot;text/html; charset=utf-8&quot;&gt;
        &lt;title&gt;welcome to icecream!&lt;/title&gt;
    &lt;/head&gt;    
    &lt;body&gt;
        &lt;div class=&quot;main&quot;&gt;
            &lt;%-body%&gt;   
        &lt;/div&gt;
    &lt;/body&gt;
 &lt;/html&gt;
</code></pre>

<blockquote>
<p>Note: icecream uses <a href="https://github.com/visionmedia/ejs">ejs</a> as the default template engine, so &#39;ejs&#39; is the default file name extention for views.</p>
</blockquote></li>
<li><p>create view file <em><strong>index.ejs</strong></em> in directory &#39;myApp/app/views/page/&#39;.</p>

<pre><code> &lt;h2&gt;&lt;%=name%&gt;&lt;/h2&gt;
 &lt;div&gt;&lt;%=introduction%&gt;&lt;/div&gt;
</code></pre></li>
</ul>

<h4>run the application</h4>

<ul>
<li><p>open a shell prompt and change directory to your applicaton</p>

<pre><code> cd /path to your application (myApp)
 node start.js 
</code></pre></li>
<li><p>open <a href="http://localhost:3000">http://localhost:3000</a> in browser</p></li>
</ul>

