
<h4>About</h4>

<p><a href="http://github.com/zhiyu/icecream">icecream</a> is a rapid web framework based on <a href="http://nodejs.org">NodeJS</a>. It was designed with a very small footprint for those who need a simple, elegant and pragmatic toolkit to build high-performing, full-featured web applications.</p>

<p>the source code is hosted on <a href="http://github.com/zhiyu/icecream">github.com</a> and licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.</p>

<p>any question about <a href="http://github.com/zhiyu/icecream">icecream</a>, please feel free to contact <a href="mailto:zhengzhiyu@yeah.net">zhengzhiyu@yeah.net</a></p>

<h4>Installation</h4>

<ul>
<li>Install nodejs and npm. The download page is <a href="http://nodejs.org/download/">http://nodejs.org/download/</a>. </li>
<li><p>Install icecream. </p>

<pre><code> npm install -g icecream 
</code></pre>

<p>or</p>

<pre><code> sudo npm install -g icecream     
</code></pre></li>
</ul>

<h4>Your first application</h4>

<ul>
<li><p>create the application</p>

<pre><code> icecream create helloword         
</code></pre></li>
<li><p>run the server</p>

<pre><code> cd helloword
 npm install         
 node start.js
</code></pre></li>
<li><p>visit the application </p>

<p>open <a href="http://localhost:3000">http://localhost:3000</a>       </p></li>
</ul>

<style>
  h4{padding:10px 0px;}
</style>
<script type="text/javascript">
$(function(){
    $($('li','.nav')[1]).addClass('active');
    //hljs.initHighlightingOnLoad();
});
</script>
