<div class="g-background">
  <div class="g-content" style="font-size:50px;padding:60px 0px;font-style:italic;">
    Welcome to icecream !
  </div>
  <h4>Introduction</h4>
  <p><a href="http://github.com/zhiyu/icecream">icecream</a> is a rapid web framework based on <a href="http://nodejs.org">NodeJS</a>. It was designed with a very small footprint for those who need a simple, elegant and pragmatic toolkit to build high-performing, full-featured web applications.</p>

  <p>the source code is hosted on <a href="http://github.com/zhiyu/icecream">github.com</a> and licensed under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>.</p>
  
  <br/>
  <h4>How to use</h4>
  <p>
    reffer to this page <a href="/get-started">Get Started</a> .
  </p>
</div>

<script type="text/javascript">
$(function(){
    $($('li','.nav')[0]).addClass('active');
});
</script>

