<div class="g-background">
  <div class="g-content" style="font-size:40px;padding:80px 0px;font-style:italic;text-align:center;">
    Welcome to icecream!
    <br/>
    <div style="font-size:16px;margin-top:40px;text-align:center;font-style:normal;">
      This project is hosted on Github 
      <a target="_blank" href="https://github.com/zhiyu/icecream">
        <img src="/image/github.png" style="vertical-align:-7px;"/>
      </a>
    </div> 

  </div>
</div>

