!!! 5
html
    head
        meta(http-equiv="Content-Type",content="text/html; charset=utf-8")
        - var title = '移动应用统计分析平台'
        title=title

        link(rel='stylesheet', type="text/css",href='/css/default.css')
        link(rel='stylesheet', type="text/css",href='/css/jquery.noty.css')
        link(rel='stylesheet', type="text/css",href='/css/noty_theme_default.css')
        link(rel='stylesheet', type="text/css",href='/css/buttons.css')
        link(rel='stylesheet', type="text/css",href='/js/fancybox/jquery.fancybox.css')     
        script(src='/js/jquery.min.js')
        script(src='/js/jquery.noty.js')
        script(src='/js/fancybox/jquery.fancybox.pack.js')
        script(src='/js/jquery.qtip.min.js')
        script(src='/js/jquery.qrcode.min.js')
        script(src='/js/common.js')
    body
        div(class='head',style="border-top:4px solid #33B5E5;border-bottom:none;")
          div(class='top',style='position:absulte;') 
            p(style='background:#33B5E5;float:left;padding:0px 10px;color:#fff;font-size:14px;')移动应用统计分析平台
        div(class="main")
            !{body}           
        include ./footer.jade
    