div(class='bread') 添加角色
table(class='table',id='add_role_form')
  tr
    td 角色名称
    td 
      input(id='role_name',type='text',class='txt')
  tr
    td
    td
      button(class='btn',onclick='add_role();') 添加
      &nbsp;&nbsp;&nbsp;
      button(class='btn',onclick='hide_edit();') 取消     

script(type='text/javascript')    
    $(function(){
      $("#role_name").focus();
    });
    
    function add_role(){
      var role_name = $('#role_name','#add_role_form').val();

      loading();
      $.post('/management/add_role','smt=true&role_name='+role_name,function(data){
          hideLoading();
          if(data.indexOf("success")!=-1){
            noty({
              timeout: 1000,force: true, text: '操作成功!', type: 'success',
              onClose:function(){
                location.reload();
              }
            });
          }else{
            noty({timeout: 1000,force: true, text: '操作失败!', type: 'error'});
          }
      },"html");
    } 

    function hide_edit(){
         $.sheetbox.close('right');
    } 
