div(class="content")

    div(class='login',style='margin-top:100px;')
        table(class='table',id='add_app_form')
          tr
            td(width=60) 账号
            td 
              input(id='email',type='text',class='txt')
          tr
            td 密码
            td 
              input(id='password',type='password',class='txt') 
          tr
            td
            td 
              button(class='btn',onclick='login();') 登陆
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              a(href='/') 取回密码 


    div(class="clr")        

script(type='text/javascript')
   $(function(){
     $("#email").focus();
   });
   function login(id){
      loading();
      var email = $("#email").val();
      var password = $("#password").val();
      $.post("/user/login","smt=true&email="+email+"&password="+password,function(data){
        hideLoading();
        if(data.indexOf("success")!=-1){
              noty({
                timeout: 1000,
                force: true, 
                text: '登陆成功!', 
                type: 'success',
                onClose:function(){
                  location.href="/applications/";
                }
              });
        }else{
          noty({timeout: 1000,force: true, text: '登陆失败!', type: 'error'});
        }
      });
   }