body{
  margin:0;
  padding:0;
  font-size: 12px;
  font-family: "微软雅黑","宋体","黑体",Arial;
}

.g-doc {
  width: 900px;
  position: relative;
  left:50%;
  margin-left: -450px;
  color: #555;
}

.g-banner {
  position: relative;
  height: 90px;
  margin: 0 auto;
}

.g-banner .logo {
  position: absolute;
  left: 0px;
  top: 13px;
  width: 153px;
  height: 60px;
  z-index: 101;
}

.g-banner .logo .img {
  display:block;
  width: 200px;
  height: 60px;
}

.g-banner .menu {
  position: absolute;
  right: 0px;
  top: 25px;
  font-size: 14px;
}

.g-banner a {
  margin-left:0px;
}


.g-background {
}

.g-content {
  padding:10px 0px;
}

.g-link {
  font-size: 11pt;
  position: relative;
  margin-top:40px; 
}

.g-button {
  margin-top: 10px;
  text-align: center;
}

.g-header{
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  margin:10px 0px;
}

a:link {
  color: #666;
  text-decoration: none;
}

a:visited {
  color: #666;
  text-decoration: none;
}

a:hover {
  color: #666;
  text-decoration: underline;
}

a:active {
  color: #666;
  text-decoration: underline;
}

.sec{
    padding:20px; 
    background: #D1DDBB; 
    color: black;
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
    border: 1px solid #C9DAAE;          
}

