<form class="form-horizontal" name="form_user_add" id="form_user_add">
    
    <div class="control-group">
        <label class="control-label" for="username">username</label>
        <div class="controls">
            <input type="text" name="username" />
        </div>
    </div>
    
    <div class="control-group">
        <label class="control-label" for="password">password</label>
        <div class="controls">
            <input type="text" name="password" />
        </div>
    </div>

</form>