!!! 5
html
    head
        link(rel='stylesheet', type="text/css",href='/css/default.css')
        - var title = 'Apps Management System'
        title=title
        script(src='/js/jquery.min.js')
    body
        include ./header.jade
        div(class="main")
            !{body}           
        include ./footer.jade